# **Credit Card Balance**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('C:/Users/Lenovo/Downloads/PBI/Home Credit/credit_card_balance.csv')
pd.set_option('display.max_columns', None)
print('shape:', df.shape)
df.sample(5)

shape: (3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
525894,1767868,274051,-11,0.00,0,0.0,0.000,0.0,0.000,0.00,682.02,0.00,0.00,0.00,0.00,0.0,0,0.0,0.0,76.0,Active,0,0
567422,1691647,123942,-29,0.00,135000,0.0,0.000,0.0,0.000,0.00,254.88,254.88,0.00,0.00,0.00,0.0,0,0.0,0.0,5.0,Active,0,0
2115977,2731259,237094,-12,4280.58,405000,13500.0,13500.000,0.0,0.000,0.00,11250.00,9000.00,4202.55,4280.58,4280.58,1.0,1,0.0,0.0,0.0,Active,0,0
615504,2636292,416625,-5,178918.29,180000,27000.0,81999.315,0.0,54999.315,4630.95,4950.00,4950.00,169668.54,172516.77,172516.77,3.0,34,0.0,31.0,7.0,Active,0,0
1588237,2522725,360969,-73,0.00,67500,NaN,0.000,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,NaN,0,NaN,NaN,NaN,Active,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

In [5]:
pd.set_option('display.max_columns', None)

# Select columns with object data types and store them in the 'categoric' variable
categoric = df.select_dtypes('object')

# Select columns with numeric data types and store them in the 'numeric' variable
numeric = df.select_dtypes('number')

# Determine the number of rows and columns
rows = df.shape[0]
cols = df.shape[1]

# Print the shape of the DataFrame
print(f'Number of Rows: {rows}\nNumber of Columns: {cols}')

# Print a sample of 6 rows from the DataFrame
print('\nSample Data:')
display(df.sample(6))

# Print summary statistics for categorical data
print('\nSummary Statistics for Categorical Data:')
display(categoric.describe().T)

# Print summary statistics for numerical data
print('\nSummary Statistics for Numerical Data:')
display(numeric.describe().T)

# Define categorical_col and numerical_col before printing
categorical_col = categoric.columns.tolist()  # Get the list of categorical columns
numerical_col = numeric.columns.tolist()      # Get the list of numerical columns

Number of Rows: 3840312
Number of Columns: 23

Sample Data:

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1089214,2411763,407903,-19,176310.720,180000,12150.0,12150.0,0.0,0.0,12600.000,25200.00,12600.000,174895.515,176666.220,176666.220,1.0,1,0.0,0.0,34.0,Active,0,0
751633,2643194,132702,-34,62681.175,67500,0.0,0.0,0.0,0.0,3375.000,4500.00,4500.000,60602.850,62681.175,62681.175,0.0,0,0.0,0.0,61.0,Active,0,0
2483734,1595654,437016,-17,0.000,67500,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.000,0.000,0.000,0.0,0,0.0,0.0,59.0,Completed,0,0
1931981,1871568,307366,-43,0.000,135000,0.0,0.0,0.0,0.0,225.675,2450.16,0.000,0.000,0.000,0.000,0.0,0,0.0,0.0,62.0,Active,0,0
3422932,2646568,451284,-45,0.000,135000,0.0,0.0,0.0,0.0,0.000,533.34,0.000,0.000,-533.340,-533.340,0.0,0,0.0,0.0,37.0,Active,0,0
2661934,1131647,323128,-28,84846.690,450000,87750.0,87750.0,0.0,0.0,6864.840,139275.00,129715.245,83194.695,84846.690,84846.690,3.0,3,0.0,0.0,6.0,Active,0,0

Summary Statistics for Categorical Data:

                        count unique     top     freq
NAME_CONTRACT_STATUS  3840312      7  Active  3698436

Summary Statistics for Numerical Data:

,count,mean,std,min,25%,50%,75%,max
SK_ID_PREV,3840312.0,1.904504e+06,536469.470563,1000018.000,1434385.00,1897122.0,2.369328e+06,2843496.000
SK_ID_CURR,3840312.0,2.783242e+05,102704.475133,100006.000,189517.00,278396.0,3.675800e+05,456250.000
MONTHS_BALANCE,3840312.0,-3.452192e+01,26.667751,-96.000,-55.00,-28.0,-1.100000e+01,-1.000
AMT_BALANCE,3840312.0,5.830016e+04,106307.031024,-420250.185,0.00,0.0,8.904669e+04,1505902.185
AMT_CREDIT_LIMIT_ACTUAL,3840312.0,1.538080e+05,165145.699525,0.000,45000.00,112500.0,1.800000e+05,1350000.000
AMT_DRAWINGS_ATM_CURRENT,3090496.0,5.961325e+03,28225.688578,-6827.310,0.00,0.0,0.000000e+00,2115000.000
AMT_DRAWINGS_CURRENT,3840312.0,7.433388e+03,33846.077333,-6211.620,0.00,0.0,0.000000e+00,2287098.315
AMT_DRAWINGS_OTHER_CURRENT,3090496.0,2.881696e+02,8201.989345,0.000,0.00,0.0,0.000000e+00,1529847.000
AMT_DRAWINGS_POS_CURRENT,3090496.0,2.968805e+03,20796.887047,0.000,0.00,0.0,0.000000e+00,2239274.160
AMT_INST_MIN_REGULARITY,3535076.0,3.540204e+03,5600.154122,0.000,0.00,0.0,6.633911e+03,202882.005
AMT_PAYMENT_CURRENT,3072324.0,1.028054e+04,36078.084953,0.000,152.37,2702.7,9.000000e+03,4289207.445
AMT_PAYMENT_TOTAL_CURRENT,3840312.0,7.588857e+03,32005.987768,0.000,0.00,0.0,6.750000e+03,4278315.690
AMT_RECEIVABLE_PRINCIPAL,3840312.0,5.596588e+04,102533.616846,-423305.820,0.00,0.0,8.535924e+04,1472316.795
AMT_RECIVABLE,3840312.0,5.808881e+04,105965.369908,-420250.185,0.00,0.0,8.889949e+04,1493338.185
AMT_TOTAL_RECEIVABLE,3840312.0,5.809829e+04,105971.801104,-420250.185,0.00,0.0,8.891451e+04,1493338.185
CNT_DRAWINGS_ATM_CURRENT,3090496.0,3.094490e-01,1.100401,0.000,0.00,0.0,0.000000e+00,51.000
CNT_DRAWINGS_CURRENT,3840312.0,7.031439e-01,3.190347,0.000,0.00,0.0,0.000000e+00,165.000
CNT_DRAWINGS_OTHER_CURRENT,3090496.0,4.812496e-03,0.082639,0.000,0.00,0.0,0.000000e+00,12.000
CNT_DRAWINGS_POS_CURRENT,3090496.0,5.594791e-01,3.240649,0.000,0.00,0.0,0.000000e+00,165.000
CNT_INSTALMENT_MATURE_CUM,3535076.0,2.082508e+01,20.051494,0.000,4.00,15.0,3.200000e+01,120.000
SK_DPD,3840312.0,9.283667e+00,97.515700,0.000,0.00,0.0,0.000000e+00,3260.000
SK_DPD_DEF,3840312.0,3.316220e-01,21.479231,0.000,0.00,0.0,0.000000e+00,3260.000

In [6]:
print("Categorical columns: ", categorical_col)
print("\nNumerical columns: ", numerical_col)

Categorical columns:  ['NAME_CONTRACT_STATUS']

Numerical columns:  ['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY', 'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT', 'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE', 'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT', 'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT', 'CNT_INSTALMENT_MATURE_CUM', 'SK_DPD', 'SK_DPD_DEF']

In [7]:
dfe = df.copy()

# Check for duplicate rows
duplicate_rows = dfe.duplicated()

# Display the number of duplicate rows
print(f"Number of duplicate rows: {duplicate_rows.sum()}")

# Function to calculate and display columns with missing values
def check_nan(dfe):
    # Count null values
    null_values = dfe.isnull().sum()

    # Create a DataFrame showing total null values and their percentages
    nvc = pd.DataFrame(null_values[null_values > 0].sort_values(), columns=['Total Null Values'])  # Only include columns with null values
    nvc['Percentage'] = (nvc['Total Null Values'] / dfe.shape[0]) * 100
    nvc["Data Type"] = [dfe[col].dtype for col in nvc.index]  # Retrieve data types for each column

    # Sort by total null values and percentage
    nvc.sort_values(by=["Total Null Values", "Percentage"], ascending=False, inplace=True)

    # Return a styled result with a blue gradient
    return nvc.style.background_gradient(cmap='Blues')

# Call the function and store the result
styled_result = check_nan(dfe)

# To display the result in Jupyter Notebook, use:
styled_result

Number of duplicate rows: 0

In [8]:
missing = dfe.isnull().sum() / len(dfe) * 100
missing = missing[missing > 0].sort_values(ascending=False)
print("Missing Value Percentage:\n", missing)

Missing Value Percentage:
 AMT_PAYMENT_CURRENT           19.998063
AMT_DRAWINGS_ATM_CURRENT      19.524872
AMT_DRAWINGS_OTHER_CURRENT    19.524872
AMT_DRAWINGS_POS_CURRENT      19.524872
CNT_DRAWINGS_ATM_CURRENT      19.524872
CNT_DRAWINGS_OTHER_CURRENT    19.524872
CNT_DRAWINGS_POS_CURRENT      19.524872
AMT_INST_MIN_REGULARITY        7.948208
CNT_INSTALMENT_MATURE_CUM      7.948208
dtype: float64

In [9]:
from sklearn.impute import SimpleImputer

# Columns with missing values between 5% and 50%
to_impute = missing[(missing > 5) & (missing <= 50)].index.tolist()

# Use median imputation to avoid the influence of outliers
imputer = SimpleImputer(strategy='median')
dfe[to_impute] = imputer.fit_transform(dfe[to_impute])

# Columns with missing values less than 5%
low_missing = missing[missing <= 5].index.tolist()

# Drop rows that have null values in those columns
if len(low_missing) > 0:
    dfe = dfe.dropna(subset=low_missing)

In [10]:
# Call the function and store the result
styled_result = check_nan(dfe)

# To display the result in Jupyter Notebook, use:
styled_result

In [11]:
dfe.to_csv('C:/Users/Lenovo/Downloads/PBI/Home Credit/credit_card_balance_cleaned.csv', index=False)