# **Previous Application**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('C:/Users/Lenovo/Downloads/PBI/Home Credit/previous_application.csv')
pd.set_option('display.max_columns', None)
print('shape:', df.shape)
df.sample(5)

shape: (1670214, 37)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
444507,2622288,249928,Consumer loans,2100.600,26011.575,20812.5,5199.075,26011.575,WEDNESDAY,13,Y,1,0.217683,0.176003,0.835095,XAP,Approved,-174,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,25,Connectivity,12.0,middle,POS mobile with interest,365243.0,-139.0,191.0,-49.0,-44.0,0.0
423667,2242578,122442,Cash loans,5334.255,45000.000,47970.0,0.000,45000.000,FRIDAY,8,Y,1,0.000000,NaN,NaN,XNA,Approved,-2840,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Country-wide,1600,Consumer electronics,12.0,high,Cash Street: high,365243.0,-2810.0,-2480.0,-2480.0,-2474.0,1.0
1454891,2559027,449840,Consumer loans,13397.400,134640.000,133974.0,13464.000,134640.000,SATURDAY,7,Y,1,0.099455,NaN,NaN,XAP,Approved,-725,XNA,XAP,Unaccompanied,New,Auto Accessories,POS,XNA,Regional / Local,180,Industry,12.0,middle,POS other with interest,365243.0,-681.0,-351.0,-351.0,-346.0,0.0
999883,1757467,188340,Cash loans,NaN,0.000,0.0,NaN,NaN,MONDAY,8,Y,1,NaN,NaN,NaN,XNA,Canceled,-351,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
109658,2375377,412768,Revolving loans,NaN,0.000,0.0,NaN,NaN,TUESDAY,15,Y,1,NaN,NaN,NaN,XAP,Canceled,-204,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

In [4]:
pd.set_option('display.max_columns', None)

# Select columns with object data types and store them in the 'categoric' variable
categoric = df.select_dtypes('object')

# Select columns with numeric data types and store them in the 'numeric' variable
numeric = df.select_dtypes('number')

# Determine the number of rows and columns
rows = df.shape[0]
cols = df.shape[1]

# Print the shape of the DataFrame
print(f'Number of Rows: {rows}\nNumber of Columns: {cols}')

# Print a sample of 6 rows from the DataFrame
print('\nSample Data:')
display(df.sample(6))

# Print summary statistics for categorical data
print('\nSummary Statistics for Categorical Data:')
display(categoric.describe().T)

# Print summary statistics for numerical data
print('\nSummary Statistics for Numerical Data:')
display(numeric.describe().T)

# Define categorical_col and numerical_col before printing
categorical_col = categoric.columns.tolist()  # Get the list of categorical columns
numerical_col = numeric.columns.tolist()      # Get the list of numerical columns

Number of Rows: 1670214
Number of Columns: 37

Sample Data:

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
967738,1002822,410500,Consumer loans,4751.010,47518.2,42763.5,4754.7,47518.2,MONDAY,11,Y,1,0.108975,NaN,NaN,XAP,Approved,-2594,XNA,XAP,Unaccompanied,New,Consumer Electronics,POS,XNA,Stone,151,Consumer electronics,10.0,low_normal,POS household without interest,365243.0,-2560.0,-2290.0,-2290.0,-2287.0,0.0
1322037,2812014,349292,Cash loans,NaN,0.0,0.0,NaN,NaN,SUNDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-149,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1442898,2437297,230624,Revolving loans,13500.000,270000.0,270000.0,NaN,270000.0,MONDAY,11,Y,1,NaN,NaN,NaN,XAP,Approved,-410,XNA,XAP,NaN,Refreshed,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,-409.0,-363.0,365243.0,-240.0,365243.0,0.0
1644085,1480445,198794,Consumer loans,6356.835,116500.5,141106.5,0.0,116500.5,SATURDAY,13,Y,1,0.000000,NaN,NaN,XAP,Approved,-532,Cash through the bank,XAP,Unaccompanied,New,Audio/Video,POS,XNA,Country-wide,750,Consumer electronics,24.0,low_action,POS household without interest,365243.0,-500.0,190.0,365243.0,365243.0,0.0
485610,1612440,166333,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,8,Y,1,NaN,NaN,NaN,XNA,Canceled,-334,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
518955,1154695,435252,Consumer loans,9068.085,83781.0,81621.0,8379.0,83781.0,MONDAY,8,Y,1,0.101394,NaN,NaN,XAP,Approved,-2656,Cash through the bank,XAP,Family,New,Audio/Video,POS,XNA,Regional / Local,149,Consumer electronics,10.0,low_normal,POS household without interest,365243.0,-2611.0,-2341.0,-2371.0,-2363.0,1.0

Summary Statistics for Categorical Data:

                               count unique                      top     freq
NAME_CONTRACT_TYPE           1670214      4               Cash loans   747553
WEEKDAY_APPR_PROCESS_START   1670214      7                  TUESDAY   255118
FLAG_LAST_APPL_PER_CONTRACT  1670214      2                        Y  1661739
NAME_CASH_LOAN_PURPOSE       1670214     25                      XAP   922661
NAME_CONTRACT_STATUS         1670214      4                 Approved  1036781
NAME_PAYMENT_TYPE            1670214      4    Cash through the bank  1033552
CODE_REJECT_REASON           1670214      9                      XAP  1353093
NAME_TYPE_SUITE               849809      7            Unaccompanied   508970
NAME_CLIENT_TYPE             1670214      4                 Repeater  1231261
NAME_GOODS_CATEGORY          1670214     28                      XNA   950809
NAME_PORTFOLIO               1670214      5                      POS   691011
NAME_PRODUCT_TYPE            1670214      3                      XNA  1063666
CHANNEL_TYPE                 1670214      8  Credit and cash offices   719968
NAME_SELLER_INDUSTRY         1670214     11                      XNA   855720
NAME_YIELD_GROUP             1670214      5                      XNA   517215
PRODUCT_COMBINATION          1669868     17                     Cash   285990

Summary Statistics for Numerical Data:

,count,mean,std,min,25%,50%,75%,max
SK_ID_PREV,1670214.0,1.923089e+06,532597.958696,1.000001e+06,1.461857e+06,1.923110e+06,2.384280e+06,2845382.000
SK_ID_CURR,1670214.0,2.783572e+05,102814.823849,1.000010e+05,1.893290e+05,2.787145e+05,3.675140e+05,456255.000
AMT_ANNUITY,1297979.0,1.595512e+04,14782.137335,0.000000e+00,6.321780e+03,1.125000e+04,2.065842e+04,418058.145
AMT_APPLICATION,1670214.0,1.752339e+05,292779.762386,0.000000e+00,1.872000e+04,7.104600e+04,1.803600e+05,6905160.000
AMT_CREDIT,1670213.0,1.961140e+05,318574.616547,0.000000e+00,2.416050e+04,8.054100e+04,2.164185e+05,6905160.000
AMT_DOWN_PAYMENT,774370.0,6.697402e+03,20921.495410,-9.000000e-01,0.000000e+00,1.638000e+03,7.740000e+03,3060045.000
AMT_GOODS_PRICE,1284699.0,2.278473e+05,315396.557937,0.000000e+00,5.084100e+04,1.123200e+05,2.340000e+05,6905160.000
HOUR_APPR_PROCESS_START,1670214.0,1.248418e+01,3.334028,0.000000e+00,1.000000e+01,1.200000e+01,1.500000e+01,23.000
NFLAG_LAST_APPL_IN_DAY,1670214.0,9.964675e-01,0.059330,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000
RATE_DOWN_PAYMENT,774370.0,7.963682e-02,0.107823,-1.497876e-05,0.000000e+00,5.160508e-02,1.089091e-01,1.000
RATE_INTEREST_PRIMARY,5951.0,1.883569e-01,0.087671,3.478125e-02,1.607163e-01,1.891222e-01,1.933299e-01,1.000
RATE_INTEREST_PRIVILEGED,5951.0,7.735025e-01,0.100879,3.731501e-01,7.156448e-01,8.350951e-01,8.525370e-01,1.000
DAYS_DECISION,1670214.0,-8.806797e+02,779.099667,-2.922000e+03,-1.300000e+03,-5.810000e+02,-2.800000e+02,-1.000
SELLERPLACE_AREA,1670214.0,3.139511e+02,7127.443459,-1.000000e+00,-1.000000e+00,3.000000e+00,8.200000e+01,4000000.000
CNT_PAYMENT,1297984.0,1.605408e+01,14.567288,0.000000e+00,6.000000e+00,1.200000e+01,2.400000e+01,84.000
DAYS_FIRST_DRAWING,997149.0,3.422099e+05,88916.115833,-2.922000e+03,3.652430e+05,3.652430e+05,3.652430e+05,365243.000
DAYS_FIRST_DUE,997149.0,1.382627e+04,72444.869708,-2.892000e+03,-1.628000e+03,-8.310000e+02,-4.110000e+02,365243.000
DAYS_LAST_DUE_1ST_VERSION,997149.0,3.376777e+04,106857.034789,-2.801000e+03,-1.242000e+03,-3.610000e+02,1.290000e+02,365243.000
DAYS_LAST_DUE,997149.0,7.658240e+04,149647.415123,-2.889000e+03,-1.314000e+03,-5.370000e+02,-7.400000e+01,365243.000
DAYS_TERMINATION,997149.0,8.199234e+04,153303.516729,-2.874000e+03,-1.270000e+03,-4.990000e+02,-4.400000e+01,365243.000
NFLAG_INSURED_ON_APPROVAL,997149.0,3.325702e-01,0.471134,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000

In [5]:
print("Categorical columns: ", categorical_col)
print("\nNumerical columns: ", numerical_col)

Categorical columns:  ['NAME_CONTRACT_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'FLAG_LAST_APPL_PER_CONTRACT', 'NAME_CASH_LOAN_PURPOSE', 'NAME_CONTRACT_STATUS', 'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE', 'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE', 'CHANNEL_TYPE', 'NAME_SELLER_INDUSTRY', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION']

Numerical columns:  ['SK_ID_PREV', 'SK_ID_CURR', 'AMT_ANNUITY', 'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE', 'HOUR_APPR_PROCESS_START', 'NFLAG_LAST_APPL_IN_DAY', 'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED', 'DAYS_DECISION', 'SELLERPLACE_AREA', 'CNT_PAYMENT', 'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL']

In [6]:
dfe = df.copy()

# Check for duplicate rows
duplicate_rows = dfe.duplicated()

# Display the number of duplicate rows
print(f"Number of duplicate rows: {duplicate_rows.sum()}")

# Function to calculate and display columns with missing values
def check_nan(dfe):
    # Count null values
    null_values = dfe.isnull().sum()

    # Create a DataFrame showing total null values and their percentages
    nvc = pd.DataFrame(null_values[null_values > 0].sort_values(), columns=['Total Null Values'])  # Only include columns with null values
    nvc['Percentage'] = (nvc['Total Null Values'] / dfe.shape[0]) * 100
    nvc["Data Type"] = [dfe[col].dtype for col in nvc.index]  # Retrieve data types for each column

    # Sort by total null values and percentage
    nvc.sort_values(by=["Total Null Values", "Percentage"], ascending=False, inplace=True)

    # Return a styled result with a blue gradient
    return nvc.style.background_gradient(cmap='Blues')

# Call the function and store the result
styled_result = check_nan(dfe)

# To display the result in Jupyter Notebook, use:
styled_result

Number of duplicate rows: 0

In [7]:
# 1. Drop columns with more than 99% missing values
dfe.drop(columns=['RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED'], inplace=True)

# 2. Numerical imputation
dfe['AMT_DOWN_PAYMENT'].fillna(0, inplace=True)
dfe['RATE_DOWN_PAYMENT'].fillna(0, inplace=True)
dfe['DAYS_FIRST_DRAWING'].fillna(dfe['DAYS_FIRST_DRAWING'].median(), inplace=True)
dfe['DAYS_FIRST_DUE'].fillna(dfe['DAYS_FIRST_DUE'].median(), inplace=True)
dfe['DAYS_LAST_DUE_1ST_VERSION'].fillna(dfe['DAYS_LAST_DUE_1ST_VERSION'].median(), inplace=True)
dfe['DAYS_LAST_DUE'].fillna(dfe['DAYS_LAST_DUE'].median(), inplace=True)
dfe['DAYS_TERMINATION'].fillna(dfe['DAYS_TERMINATION'].median(), inplace=True)
dfe['NFLAG_INSURED_ON_APPROVAL'].fillna(0, inplace=True)
dfe['AMT_GOODS_PRICE'].fillna(dfe['AMT_GOODS_PRICE'].median(), inplace=True)
dfe['AMT_ANNUITY'].fillna(dfe['AMT_ANNUITY'].median(), inplace=True)
dfe['CNT_PAYMENT'].fillna(dfe['CNT_PAYMENT'].median(), inplace=True)
dfe['AMT_CREDIT'].fillna(dfe['AMT_CREDIT'].median(), inplace=True)

# 3. Categorical imputation
dfe['NAME_TYPE_SUITE'].fillna('Unknown', inplace=True)
dfe['PRODUCT_COMBINATION'].fillna(dfe['PRODUCT_COMBINATION'].mode()[0], inplace=True)

In [8]:
# Call the function and store the result
styled_result = check_nan(dfe)

# To display the result in Jupyter Notebook, use:
styled_result

In [9]:
dfe.to_csv('C:/Users/Lenovo/Downloads/PBI/Home Credit/previous_application_cleaned.csv', index=False)